<html>
  <head>
    <title>Roller Toaster Video Stream</title>
	<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script type=text/javascript>
				$(function() {
				  $('a#process_input').bind('click', function() {
					$.getJSON('/background_process', {
					  proglang: $('input[name="proglang"]').val(),
					}, function(data) {
					  $("#result").text(data.result);
					});
					return false;
				  });
				});
			</script>-->
  </head>
  <body>
    <h1>Roller Toaster Video Stream</h1>
    <img id="bg" src="{{ url_for('video_feed') }}">
	
	<!--<input type="text" id="textboxid">
	<script type="text/javascript">
		var txtBox = document.getElementById("label");
		txtBox.value="{{ the_top }}";
		</script>
		
-->
	<!--test "({{ top }})"-->
	<!--<form method="POST" action="/theTop">
	<h3>{{ top }}</h3>
</form>-->
	<!--
	<div class='container'>
			<h3>Welcome! Which is the best programming language of them all?</h3>
				<form>
					<input type=text size=5 name=proglang>
					<a href=# id=process_input><button class='btn btn-default'>Submit</button></a>
				</form>
			<p id=result></p>
			</div>-->
	<!--<ul>
	{% for user in users %}
	 	<li>{{ user }}</li>
	{% endfor %}</ul>-->
  </body>
</html>